.background {
  height: 100vh;
  /* width: 100%; */
}

form > div {
  padding: 0.2em 0;
}

.submit {
  margin-top: 1em;
}

/* .product-section {
  padding-top: 5rem;
} */

.product-list-section .container {
  overflow: scroll;
}
