.background {
  height: 100vh;
  /* width: 100%; */
}

form > div {
  padding: 0.2em 0;
}

.submit {
  margin-top: 1em;
}

.product-list-section .container {
  overflow: scroll;
}

.table-data {
  display: flex !important;
}

@media only screen and (min-width: 600px) {
  .product-list-section .container {
    overflow: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
